@reference "../index.css";

.avatar-placeholder {
  @apply bg-base-300 text-base-content flex size-10 items-center justify-center rounded-full text-sm font-semibold;
}

.text-message-header {
  @apply text-base-content;
}

.text-message-time {
  @apply text-base-content/50;
}
